
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.light {
  --mainColor: #64bcf4;
  --hoverColor: #5bacdf;
  --backgroundColor: #f1f8fc;
  --darkOne: #312f3a;
  --darkTwo: #45424b;
  --lightOne: #919191;
  --lightTwo: #aaa;
}

.dark {
  --mainColor: #64bcf4;
  --hoverColor: #5bacdf;
  --backgroundColor: #192e3a;
  --darkOne: #f3f3f3;
  --darkTwo: #fff;
  --lightOne: #ccc;
  --lightTwo: #e7e3e3;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.big-wrapper {
  position: relative;
  padding: 1.7rem 0 2rem;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background: radial-gradient(rgb(36, 36, 36,0.7),rgba(0,0,0,0.1)),url('./images/mask-the.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  position: relative;
  max-width: 81rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  z-index: 10;
}

header {
  position: relative;
  z-index: 70;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overlay {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  width: 40px;
  margin-right: 0.6rem;
  margin-top: -0.6rem;
}

.logo h3 {
  /* color: var(--darkTwo); */
  color: white;
  font-size: 1.55rem;
  line-height: 1.2;
  font-weight: 700;
}

.links ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.links a {
  color: #fff;
  margin-left: 4.5rem;
  display: inline-block;
  transition: 0.3s;
}

.links a:hover {
  color: var(--hoverColor);
  transform: scale(1.05);
}

.btn {
  display: inline-block;
  padding: 0.9rem 1.9rem;
  color: #fff !important;
  background-color: var(--mainColor);
  border-radius: 16px;
  text-transform: capitalize;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--hoverColor);
  transform: scale(1) !important;
}

.hamburger-menu {
  position: relative;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}

.hamburger-menu .bar {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: var(--darkTwo);
  border-radius: 3px;
  transition: 0.5s;
}

.bar::before,
.bar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--darkTwo);
  border-radius: 3px;
  transition: 0.5s;
}

.bar::before {
  transform: translateY(-8px);
}

.bar::after {
  transform: translateY(8px);
}

.big-wrapper.active .hamburger-menu .bar {
  background-color: transparent;
}

.big-wrapper.active .bar::before {
  transform: translateY(0) rotate(-45deg);
}

.big-wrapper.active .bar::after {
  transform: translateY(0) rotate(45deg);
}

.showcase-area .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.big-title {
  font-size: 1.4rem;
  color: #fff;
  text-transform: capitalize;
  line-height: 1.4;
}

.text {
    color: #ededed;
  font-size: 1.1rem;
  margin: 1.9rem 0 2.5rem;
  max-width: 600px;
  line-height: 2.3;
}

.showcase-area .btn {
  box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.05);
}

.person {
  width: 123%;
  transform: translate(15%, 25px);
}

.toggle-btn {
  display: inline-block;
  border: none;
  background: var(--darkTwo);
  color: var(--backgroundColor);
  outline: none;
  cursor: pointer;
  height: 39px;
  width: 39px;
  border-radius: 50%;
  font-size: 1.1rem;
  transition: 0.3s;
}

.toggle-btn i {
  line-height: 39px;
}

.toggle-btn:hover {
  background: var(--mainColor);
}

.big-wrapper.light .toggle-btn i:last-child {
  display: none;
}

.big-wrapper.light .toggle-btn i:first-child {
  display: block;
}

.big-wrapper.dark .toggle-btn i:last-child {
  display: block;
}

.big-wrapper.dark .toggle-btn i:first-child {
  display: none;
}

.shape {
  position: absolute;
  z-index: 0;
  width: 500px;
  bottom: -180px;
  left: -15px;
  opacity: 0.1;
}

.copy {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  animation: appear 1s 1 both;
}

@keyframes appear {
  0% {
    clip-path: circle(30% at -25% -25%);
  }
  100% {
    clip-path: circle(150% at 0 0);
  }
}

@media screen and (max-width: 870px) {
.hamburger-menu {
    display: flex;
}

.links {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 450px;
    width: 100%;
    height: 100%;
    background-color: var(--mainColor);
    z-index: 95;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: 0.5s;
}

.links ul {
    flex-direction: column;
}

.links a {
    color: #fff;
    margin-left: 0;
    padding: 2rem 0;
 }

.links .btn {
    background: none;
}

.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.big-wrapper.active .links {
    transform: translateX(0);
    box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.4);
}

.big-wrapper.active .overlay {
    pointer-events: all;
    opacity: 1;
}

.showcase-area {
    padding: 2.5rem 0;
    max-width: 700px;
    margin: 0 auto;
}

.showcase-area .container {
    grid-template-columns: 1fr;
    justify-content: center;
    grid-gap: 2rem;
}

.big-title {
    font-size: 1.1rem;
}

.text {
    font-size: 0.95rem;
    margin: 1.4rem 0 1.5rem;
}

.person {
    width: 100%;
    transform: none;
}

.logo h3 {
    font-size: 1.25rem;
}

.shape {
    bottom: -180px;
    left: -150px;
}
}

@media screen and (max-width: 470px) {
  .container {
    padding: 0 1.5rem;
  }

  .big-title {
    font-size: 0.9rem;
  }

  .text {
    margin: 1.1rem 0 1.5rem;
  }

  .showcase-area .btn {
    font-size: 0.8rem;
  }
}



/* -----------------cards design------------------- */
.card-collection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 60vh;
    padding: 10rem 0;
}
.card-basic,
.card-standard,
.card-premium {
    margin: 0 2rem 1rem 0;
    padding: 0 0 0.5rem 0;
    width: 15rem;
    background-color: var(--mainColor);
    color: #444;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(51, 51, 51, 0.2);
    overflow: hidden;
    transition: all 0.1ms ease-in-out;
}
.card-basic:hover,
.card-standard:hover,
.card-premium:hover {
  transform: scale(1.02);
}
.card-header {
    height: 5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    padding: 1rem 0;
    color: #fff;
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
}
.header-basic,
.btn-basic {
    background: linear-gradient(135deg, #64bcf4,  #337eaa);
}
.header-standard,
.btn-standard {
     background: linear-gradient(135deg,#64bcf4, #100542);
}
.header-premium,
.btn-premium {
    background: linear-gradient(135deg, #64bcf4, #000000);
}
.card-body {
    padding: 0.5rem 0;
}
.card-body h2 {
    font-size: 2rem;
    font-weight: 700;
}
.card-element-container {
    color: #444;
    list-style: none;
}
.btn {
    margin: 0.5rem 0;
    padding: 0.7rem 1rem;
    outline: none;
    border-radius: 1rem;
    font-weight: 700;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.1ms ease-in-out;
}
.btn:hover {
    transform: scale(0.95);
}
.btn:active {
    transform: scale(1);
}
.card-element-hidden {
    display: none;
}


/* -----------------------our team style------------------------------------- */


.responsive-cell-block {
    min-height: 75px;
  }
  
  * {
    font-family: Nunito, sans-serif;
  }
  
  .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  .outer-container {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    background-color: var(--darkOne);
  }
  
  .heading-text {
    font-weight: 700;
    font-size: 48px;
    line-height: 35px;
    color: rgb(51, 51, 51);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 32px;
    margin-left: 0px;
    text-align: center;
  }
  
  .sub-heading-text {
    max-width: 470px;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    font-weight: 700;
    color: rgb(102, 102, 102);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 100px;
    margin-left: 0px;
    margin: 0 0 70px 0;
  }
  
  .inner-container {
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }
  
  .cards-container {
    max-width: 1320px;
  }
  
  .name {
    font-size: 22px;
    line-height: 35px;
    font-weight: 700;
    color: var(--hoverColor);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
  }
  
  .position {
    color: #192e3a;
    font-size: 22px;
    line-height: 35px;
    font-weight: 700;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
  }
  
  .team-member-image {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
  }
  
  .social-media-icon {
    margin-top: 0px;
    margin-right: 25px;
    margin-bottom: 0px;
    margin-left: 0px;
    cursor: pointer;
    margin: 0 25px 10px 0;
  }
  
  .card-container {
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 0px;
    padding-left: 25px;
    margin: 0 0 30px 0;
  }
  
  @media (max-width: 1024px) {
    .socialMediaIcons {
      margin: 0 20px 10px 0;
    }
  }
  
  @media (max-width: 768px) {
    .card-container {
      margin: 0 0 60px 0;
      width: 80%;
    }
  
    .cards-container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  
  @media (max-width: 500px) {
    .inner-container {
      padding: 10px 0 10px 0;
      margin: 50px 0 50px 0;
    }
  
    .cards-container {
      padding: 10px 0 10px 0;
    }
  
    .card-container {
      width: 100%;
      padding: 0 15px 0 15px;
    }
  
    .outer-container {
      padding: 10px 20px 10px 20px;
    }
  
    .sub-heading-text {
      font-size: 20px;
      line-height: 25px;
      margin: 0 0 30px 0;
    }
  
    .heading-text {
      font-size: 22px;
      line-height: 28px;
    }
  }



.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}





/*-------------------- services css-------------------- */
.service-section {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #f8f9fa;
  }

  /* Container styling */
  .services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 10rem auto;
  }

  /* Individual card styling */
  .service-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s;
  }

  .service-card:hover {
    transform: translateY(-5px);
  }

  /* Icon styling */
  .service-card .icon {
    font-size: 40px;
    margin-bottom: 15px;
  }

  /* Heading and text styling */
  .service-card h3 {
    font-size: 1.25em;
    color: #333;
    margin: 10px 0;
    font-weight: bold;
  }

  .service-card p {
    font-size: 0.9em;
    color: #666;
    line-height: 1.5;
    margin: 10px 0 20px;
  }

  /* Link styling */
  .service-card a {
    color: #f05a24;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
  }

  .service-card a:hover {
    color: #1d72b8;
  }

  /* Responsive adjustments */
  @media (max-width: 768px) {
    .services-container {
      flex-direction: column;
      align-items: center;
    }
  }



  /* ------------------footer--------------- */

  .footer-basic {
    padding:40px 0;
    background-color:#000000;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:white;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  